doctype html
// === Coding by CodingLab | www.codinglabweb.com ===
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(data-name='viewport' content='width=device-width, initial-scale=1.0')
  // --======== CSS ========
  link(rel='stylesheet' href='./style.css')
  // ===== Boxicons CSS =====
  link(href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet')
  // <title>Image Gallery with Search Box</title>
.container
  .search-box
    i.bx.bx-search
    input(type='text' placeholder='Search a movie')
  .images
    .image-box(data-name='spiderman')
      img(src='images/spiderman.jpg' alt='')
      h6 spiderman
    .image-box(data-name='joker')
      img(src='images/joker.jpg' alt='')
      h6 joker
    .image-box(data-name='ironman')
      img(src='images/ironman.jpg' alt='')
      h6 ironman
    .image-box(data-name='passenger')
      img(src='images/passenger.jpg' alt='')
      h6 passenger
    .image-box(data-name='space')
      img(src='images/space.jpg' alt='')
      h6 the space
    .image-box(data-name='spiderman')
      img(src='images/spiderman2.jpg' alt='')
      h6 spiderman 2
    .image-box(data-name='universe')
      img(src='images/universe.jpg' alt='')
      h6 the universe
    .image-box(data-name='spiderman')
      img(src='images/spiderman3.jpg' alt='')
      h6 spiderman 3
    .image-box(data-name='holiday')
      img(src='images/holiday.jpg' alt='')
      h6 holiday
    .image-box(data-name='ironman')
      img(src='images/ironman2.jpg' alt='')
      h6 ironman 2
//- script(src='script.js')
